<div class="login-container">
    <div class="login-form">
        <!-- <img src="./assets/images/logo_main.png" alt="" class="login-form-logo"> -->
        <div class="login-form-content" app-login-form>
            <app-login-form></app-login-form>
        </div>
        <div class="login-form-footer">
            <div class="login-form-footer__links">
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </div>
            <div class="login-form-footer__socials">
                <i class="fab fa-facebooks-square login-form-footer__socials_social"></i>
                <i class="fab fa-twitter-square login-form-footer__socials_social"></i>
                <i class="fab fa-instagram-square login-form-footer__socials_social"></i>
            </div>
        </div>
    </div>
</div>
